$primary-color: #0092ed;
$white-color: #ffffff;
$light-grey-color: #DEDEDE;
$dark-grey-color: #A2A2A2;

// --- :host ---
// basic style that targets host element using ":host" pseudo class selector
:host {
  color: $white-color;
  border-radius: 10px;
  border: 2px solid $white-color;
  padding: 20px;
  display: flex;
  align-items: center;
  background: var(--tile-background);
}

// --- @HostBinding ---
// style that uses @HostBinding('class.highlighted') promoted, that enables that or not
:host.highlighted {
  background-color: $white-color;
  color: $primary-color;

  img {
    border-color: $primary-color;
    background-color: $primary-color;
  }
}

// --- :host-context ---
// style that checks the context in which this component is used
:host-context(.list-view) {
  flex-direction: row;

  img {
    margin-right: 20px;
  }
}

:host-context(.grid-view) {
  flex-direction: column;

  article {
    text-align: center;
    align-items: center;
  }
}

// --- @HostBinding ---
// style that uses  @Input() @HostBinding('attr.data-state') state that allow setting an exclusive value from many options
:host[data-state='active'] {
  background-color: $white-color;
  color: $primary-color;

  img {
    border-color: $primary-color;
    background-color: $primary-color;
  }
}

:host[data-state='disabled'] {
  background-color: $light-grey-color;
  color: $dark-grey-color;

  img {
    border-color: $dark-grey-color;
    background-color: $light-grey-color;
  }
}

:host[data-state='regular'] {
}


// --- rest of the styles, needed to setup the component, nothing interesting ---
img {
  display: block;
  width: 100px;
  height: 100px;
  border: 2px solid $white-color;
  border-radius: 50%;
}

article {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 12px 0;
  }

  p {
    margin: 0;
  }

  .tags {
    font-size: 12px;
    margin-bottom: 12px;

    span {
      padding-right: 8px;
    }
  }

  .description {
    font-size: 14px;
  }
}
