h1 {
  color: #ffffff;
}

section, h1 {
  width: 60%;
  margin: 10px auto;
}

.list-view {
  display: flex;
  flex-direction: column;

  app-tile {
    margin: 8px 0;
  }
}

.grid-view {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.list-view, .grid-view {
  margin-bottom: 50px;
}

.purple {
  --tile-background: #6a1b9a;
}

.red {
  --tile-background: #bf360c;
}

.green {
  --tile-background: #689f38;
}
